{% extends "base.html" %} {% block title %}Maker Faire Tokyo 2017{% endblock title %} {% block body %}

<body>{{ super() }}
  <main class="container">
    <div class="row">
      <div class="col s12">
        <div class="card horizontal">
          <div class="card-image">
            <img src="../static/oops.png" alt="Oops!">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p class="flow-text">{{ message }}</p>
            </div>
            <div class="card-action">
              <a href="/">Back</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>{% include '_footer.html' %}
</body>{% endblock body %}
