{% extends "base.html" %} {% block title %}See you soon at Tokyo Big Sight!{% endblock title %} {% block body %}

<body>{{ super() }}
  <main class="container">
    <div class="row">
      <div class="col s12">
        <div class="card hoverable">
          <div id="thanks-image" class="card-image">{% if ref == "registration" %}
            <img src="../static/thanks.jpg" alt="Thank You!"> {% else %}
            <img src="../static/thanks.png" alt="Thank You!"> {% endif %}
            <span class="card-title">Thank You!</span>
          </div>
          <div class="card-content">
            <p>確認メールが自動送信されますのでご確認ください。
              <br>確認メールが届かない場合は、
              <a href="mailto:makers@makejapan.org">Maker Faire Tokyo出展者担当</a>（makers@makejapan.org）までお問い合わせください。
              <br>（スパムメールに分類されていることもございますので、お問い合わせ前にご確認をお願いいたします。)
              <br>
              <br>
              <a href="http://makezine.jp/event/mft2017/makers/" target="_blank">Maker Toolkit（出展者向け情報ページ）</a>では、出展告知に使用いただけるロゴ素材もご用意しています。ぜひ、ご利用ください。</p>
            <blockquote>イベントに関する情報は、TwitterやFacebook、Instagramでも発信しています。ぜひ、フォローしてください。</blockquote>
            <div class="social right-align">
              <a href="https://twitter.com/make_jp" target="_blank" class="twitter pulse">Twitter</a>
              <a href="https://www.facebook.com/MakeJapan/" target="_blank" class="facebook pulse">Facebook</a>
              <a href="https://www.instagram.com/make_jp/" target="_blank" class="instagram pulse">Instagram</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>{% include '_footer.html' %}
</body>{% endblock body %}
