{% extends "base.html" %} {% block title %}See you soon at Tokyo Big Sight!{% endblock title %} {% block body %}

<body>{{ super() }}
  <main class="container">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <div id="thanks-image" class="card-image">
            <img src="../static/MFT2018_thankyou.jpg" alt="Thank You!">
            <span class="card-title" style="font-size: 3.6rem">Thank You!</span>
          </div>
          <div class="card-content" style="font-size: 1.4rem">
            <p>確認メールが自動送信されますのでご確認ください。
              <br>確認メールが届かない場合は、
              <a href="mailto:makers@makejapan.org">Maker Faire Tokyo出展者担当</a>までお問い合わせください。
              <br>（スパムメールに分類されていることもございますので、お問い合わせ前にご確認をお願いいたします。)
              <div class="card-panel hoverable" style="margin-top: 50px;">イベントに関する情報は、TwitterやFacebook、Instagramでも発信しています。
                <br>ぜひ、フォローしてください。
                <div class="social right-align">
                  <a href="https://twitter.com/make_jp" target="_blank" class="twitter">
                    <span class="icon-twitter"></span> Twitter</a>
                  <a href="https://www.facebook.com/MakeJapan/" target="_blank" class="facebook">
                    <span class="icon-facebook"></span> Facebook</a>
                  <a href="https://www.instagram.com/make_jp/" target="_blank" class="instagram">
                    <span class="icon-instagram"></span> Instagram</a>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </main>{% include '_footer.html' %}
</body>{% endblock body %}
