$primary-color: #00aeef;
$secondary-color: #ed1d24;
$roboto-font-path: '../node_modules/materialize-css/dist/fonts/roboto/';
$input-focus-color: $primary-color;
$toast-color: #ed1d24;

@import '../node_modules/materialize-css/sass/materialize.scss';
@import '../node_modules/toastr/build/toastr.css';

/* Common */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  // For sticky footer
  flex: 1 0 auto;
}

.required-mark .material-icons {
  font-size: 18px;
}

label {
  color: #333;
}

dt {
  font-weight: bold;
}

div.error {
  color: #f00;
  margin-bottom: 30px;
  text-align: right;
}

footer {
  font-size: 12px;
}

/* Registration */
.section.scrollspy {
  // for keeping .scrollspy div's height
  overflow: hidden;
}

#agreements {
  font-size: 14px;
  border: double 1px #000;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  overflow-y: scroll;
  max-height: 300px;
}

/* Survey */

/* Thanks */
@font-face {
  font-family: 'icomoon';
  src: url('../static/icons/icomoon.eot?xiqhi9');
  src: url('../static/icons/icomoon.eot?xiqhi9#iefix')
      format('embedded-opentype'),
    url('../static/icons/icomoon.ttf?xiqhi9') format('truetype'),
    url('../static/icons/icomoon.svg?xiqhi9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-size: x-large;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  margin-right: 8px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
  content: '\ea8b';
}
.icon-google-plus2:before {
  content: '\ea8c';
}
.icon-facebook:before {
  content: '\ea90';
}
.icon-facebook2:before {
  content: '\ea91';
}
.icon-instagram:before {
  content: '\ea92';
}
.icon-twitter:before {
  content: '\ea96';
}

.social {
  margin: 15px auto;
}

.twitter {
  background-color: #008dde;
  box-shadow: 0 4px 0 #0078bd;
  display: inline;
  position: relative;
  font-size: large;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: white;
  border-radius: 5px;
  padding: 14px 50px;

  &:active {
    top: 2px;
    box-shadow: 0 2px 0 #0078bd;
  }

  &:hover {
    background-color: #1397d8;
  }
}

.facebook {
  background-color: #2e4a88;
  box-shadow: 0 4px 0 #1b3d82;
  text-shadow: 0 -1px -1px #1b3d82;
  display: inline;
  position: relative;
  font-size: large;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: white;
  border-radius: 5px;
  padding: 14px 50px;

  &:hover {
    background-color: #354f84;
  }

  &:active {
    top: 2px;
    box-shadow: 0 2px 0 #1b3d82;
  }
}

.google {
  background-color: #cc3622;
  box-shadow: 0 4px 0 #ba2714;
  display: inline;
  position: relative;
  font-size: large;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: white;
  border-radius: 5px;
  padding: 14px 50px;

  &:active {
    top: 2px;
    box-shadow: 0 2px 0 #ba2714;
  }

  &:hover {
    background-color: #d04829;
  }
}

.instagram {
  background-color: #fd1d1d;
  box-shadow: 0 4px 0 #e1306c;
  display: inline;
  position: relative;
  font-size: large;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: white;
  border-radius: 5px;
  padding: 14px 50px;

  &:active {
    top: 2px;
    box-shadow: 0 2px 0 #f77737;
  }

  &:hover {
    background-color: #f56040;
  }
}
